@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=M+PLUS+Rounded+1c:wght@400;800&family=Roboto+Mono:wght@200&family=Zen+Maru+Gothic:wght@400;500&display=swap');

body{
  background-color: #7085ed;
  padding: 0;
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
}

.content {
  padding: 100px;
}

.title {
  color: aliceblue;
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
}

p {
  font-family: 'Roboto Mono', monospace;
}

.sub {
  margin-top: -30px;
  color: aliceblue;
  font-size: 20px;
}
